.cards {
  max-width: 200px;
  margin: 1em auto;

  display: inline;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 30px;
  row-gap: 10%;
}

.card {
  border: 1px solid #999;
  border-radius: 3px;

  display: grid;
  grid-template-rows: max-content 300px 1fr;
  background-color: #c3f74c;
  max-width: 300px;
  min-width: 200px;
  min-height: 200px;
  max-height: 100px;
}

.cards h2{
  max-height: 500px;
  min-height: 100px;
}

.card .content {
  padding: 0.5rem;
  background-color: #ccfaa0;
}

.quadroTarefas{
  position: relative;
  top: 100px;
  left: 430px;
  display: inline-flex;
  align-items: normal;
  columns: 3;
  gap: 10%;
}

a{
  text-decoration: none;
}

.butonzao {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  /* border: 2px solid #ffffff; */
  border-radius: 5px;
  background-color: #34e076;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  top: 100px;
  left: 17%;
}

.po1 .butonzao{
  position: relative;
  top: 300px;
  bottom: 200px;
  left: 41%;
}

.com .butonzao{
  position: relative;
  top: 300px;
  bottom: 200px;
  left: 15%;
}

.card .butonzao{
  position: relative;
  top: 300px;
  bottom: 200px;
  left: 100px;
  left: 20%;
}

.content .butonzao{
  position:sticky;
  top: 200px;
  left: 17%;
}


.todo-form .butonzao{
  position: relative;
  top: 300px;
  bottom: 200px;
  left: 12%;
}

.titulo{
  display: inline;
  position: relative;
  /* padding: 1rem 40rem 10rem 2rem; */
  top: 10px;
  left: 35%;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* border: 2px solid #ffffff; */
  border-radius: 30px;
  background-color: #34e076;
}

h2 {
  margin: 2rem 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  margin: 0;
}

.subP{
  display: block;
  position: relative;
  top: 16px;
  left: 42%;
  border-radius: 30px;
  /* background-color: #9aee54; */
} 

.content p{
  margin: 0;
}

body{
  background-color: #aadd80;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.board {
  width: 100%;
  height: 100vh;
  overflow: scroll;

  background-image: url('https://images.pexels.com/photos/7214594/pexels-photo-7214594.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  background-size: cover;
}


#todo-form {
  padding: 32px 32px 0;
  position: relative;
  top: 16px;
  left: 25%;
}

#todo-form input {
  padding: 12px;
  margin-right: 12px;
  width: 225px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffe09c;

  font-size: 14px;
  outline: none;
}

#todo-form button {
  padding: 12px 32px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffe09c;
  color: black;

  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}


.lanes {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;

  padding: 24px 32px;

  overflow: scroll;
  height: 100%;
  position: relative;
  top: 16px;
  left: 25%;
}

.board .butonzao{
  position: relative;
  bottom: 40px;
  left: 50%;
}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.swim-lane {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #ffe7b9;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  padding: 12px;
  border-radius: 4px;
  width: 225px;
  min-height: 120px;

  flex-shrink: 0;
}

.task {
  background: #ffbf36;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 12px;
  border-radius: 4px;

  font-size: 16px;
  cursor: move;
}

.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: #ffbf36;
}